name: Airport Cache

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: '0 */12 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Asia/Shanghai

      - name: Setup ossutil
        uses: manyuanrong/setup-ossutil@v2.0
        with:
          endpoint: "oss-cn-hongkong.aliyuncs.com"
          access-key-id: ${{ secrets.ACCESS_KEY_ID }}
          access-key-secret: ${{ secrets.ACCESS_KEY_SECRET }}

      - name: Download config and Cache
        run: |
          ossutil cp oss://hkosslog/SUB/suburl.json ./suburl.json
          mkdir SUB
          jq -r "to_entries|map(\"wget '\(.value|tostring)' -O SUB/\(.key) && ossutil cp --meta 'Content-Type:text/plain; charset=utf-8' -f SUB/\(.key) oss://hkosslog/SUB/\(.key)\")|.[]" suburl.json > down.sh
          bash down.sh
           
